body {
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.bower-badge {
  display: block;
}

.bower-badge__clipboard {
  margin-top: 3px;
  -webkit-transform: perspective(400px) rotateX(180deg);
  -ms-transform: perspective(400px) rotateX(180deg);
  transform: perspective(400px) rotateX(180deg);
}

.bower-badge__link-bird {
  float: left;
  width: 32px;
  height: 32px;
  background: url('../bower-logo.png');
  background: none, url('../bower-logo.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.bower-badge__link {
  text-decoration: none;
}

.bower-badge__link-label {
  display: block;
  float: left;
  margin-top: .2em;
  margin-right: -1em;
  padding: .3em 1.4em .4em .6em;
  font-size: .8em;
  text-shadow: 0 1px 0 black;
  color: white;
  background: -webkit-linear-gradient(#5e5e5e, #343534);
  background: linear-gradient(#5e5e5e, #343534);
  border-radius: 3px;
}

.bower-badge__clipboard,
.bower-badge__link {
  position: absolute;
}

/* Selected state */

.bower-badge__clipboard,
.bower-badge__link {
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

#install-instruction:target {
  -webkit-transform: perspective(400px) rotateX(0deg);
  -ms-transform: perspective(400px) rotateX(0deg);
  transform: perspective(400px) rotateX(0deg);
}

#install-instruction:target + .bower-badge__link {
  -webkit-transform: perspective(400px) rotateX(180deg);
  -ms-transform: perspective(400px) rotateX(180deg);
  transform: perspective(400px) rotateX(180deg);
}