@import "../components/pure/src/base/css/normalize.css";

@import "../components/pure/src/forms/css/forms-core.css";
@import "../components/pure/src/forms/css/forms.css";

@import "../components/pure/src/grids/css/grids-core.css";
@import "../components/pure/src/grids/css/grids-units.css";

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/* global resets */
main { display: block; }

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 24px;

  color: #543729;
  background-color: #FFCC2F;
}

.h1 { font-size: 4.2em; }
.h2 { font-weight: normal; font-size: 1.4em; }

main, footer {
  margin: 0 auto;
  padding: 3em;
  width: 740px;
  background-color: white;
}

footer a { color: #EF5734; }
footer a:hover { text-decoration: none; }

textarea {
  width: 100%;
  font-family: "Harmonia Sans Mono Std", monospace;
}

.header__logo { float: left; margin-top: -.2em; margin-right: .2em; }
